<template>
<div>
  <div class="fixed-top custom_fixed">
        <div class="navbar navbar-light custom_top dropdown">
            <div class="navbar-brand position-relative custom_nav"><strong>聯絡人</strong></div>
            <button class="btn  btn-outline-secondary" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <svg width="25px" height="27px" viewBox="0 0 16 16" class="bi bi-list" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                </svg>
            </button>
            <div class="dropdown-menu">
                <button class="dropdown-item" type="button" data-toggle="modal" data-target="#exampleModal" style="position: relative;">
                    <svg width="25px" height="25px" viewBox="0 0 16 16" class="bi bi-person-plus-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm7.5-3a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
                    </svg>
                    <div class="bbb">新增好友</div>
                </button>
                <button class="dropdown-item" type="button" style="position: relative;">
                    <svg width="25px" height="25px" viewBox="0 0 16 16" class="bi bi-person-x-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6.146-2.854a.5.5 0 0 1 .708 0L14 6.293l1.146-1.147a.5.5 0 0 1 .708.708L14.707 7l1.147 1.146a.5.5 0 0 1-.708.708L14 7.707l-1.146 1.147a.5.5 0 0 1-.708-.708L13.293 7l-1.147-1.146a.5.5 0 0 1 0-.708z"/>
                    </svg>
                    <div class="bbb">刪除好友</div>
                </button>
                <button class="dropdown-item" type="button" style="position: relative;" @click="logout">
                    <svg width="25px" height="25px" viewBox="0 0 16 16" class="bi bi-box-arrow-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                        <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                    </svg>
                    <div class="bbb">登 出</div>
                </button>
                <div class="dropdown-divider"></div>
                <div class="dropdown-item a3">
                    <div class="input-group">
                        <input type="text" placeholder="  搜尋好友">
                            <div class="input-group-append">
                              <button class="btn btn-outline-secondary" type="button" id="button-addon2">
                                <svg width="19px" height="25px" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
                                    <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
                                </svg>
                              </button>
                            </div>
                    </div>
                 </div>   
            </div>
          </div>
        </div>
    <div class="contact_person">
        <div class="idol" :id="item.name1" v-on:click="chatroom(item)" v-for="(item,index) in arrayphone" :key="index">
              <h5><span class="badge badge-danger read" v-if="item.unread!=0">{{item.unread}}</span></h5>
              <p class="person">{{item.name1}}</p>
              <div v-if="item.unread!=0">
                  <p class="msg text-dark font-weight-bold">{{item.msg1}}</p>
              </div>
              <div v-else>
                  <p class="msg">{{item.msg1}}</p>
              </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title ml-2" id="exampleModalLabel">新增好友</h5>
            <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body form-inline">
            <input type="text" class="form-control col-9 ml-2" id="input_add" autocomplete="off" placeholder="輸入好友ID" @input="change2" @keydown.13="bang2">
            <input type="button" class="btn btn-success col-2 ml-4" value="新增" id="button_add" data-dismiss="modal" @click="add" disabled>
          </div>
        </div>
    </div>
  </div>
</div> 

</template>

<script>
// @ is an alias to /src
export default {
    name: 'account',
    compoments:{
        
    },
    data:()=>({
     arrayphone:[], 
    
    }),
    created(){
        const th = this;
        this.axios.post('https://itriptaiwan.megatime.com.tw/string/CustMsgService/GetNewMsgBuddy', {
        AppId: 'StringDemo_Web',
        Phone: localStorage.getItem("Account"),
        Guid: localStorage.getItem("Guid") 
        })
        .then(function (response) {
        // console.log(response);
            
            for(var i=0;response.data.ChatBuddys.length;i++){
              var obj={
                name1: response.data.ChatBuddys[i].SayPhone,
                msg1: response.data.ChatBuddys[i].LatestMsg,
                chatid1:response.data.ChatBuddys[i].LatestChatId,
                unread:response.data.ChatBuddys[i].UnreadCount,
              };
              th.arrayphone.push(obj);
             
        }
        })
        .catch(function (error) {
          console.log(error);
        }); 
    },
    mounted(){
       const th = this;
      let websocket = new WebSocket(
      "wss://itriptaiwan.megatime.com.tw/string/SocketHandler/AppHandler.ashx"
    );
    websocket.onopen = function(evt) {
      onOpen(evt);
    };
    websocket.onclose = function(evt) {
      onClose(evt);
    };
    websocket.onmessage = function(evt) {
      onMessage(evt);
    };
    websocket.onerror = function(evt) {
      onError(evt);
    };
    // 完成連線
    function onOpen(evt) {
      
      var status = "connected";
      console.log("ws::open : connection established " + status, evt);
      writeToScreen("CONNECTED");
      var inArg = {
        Account: localStorage.getItem("Account"),
        Guid: localStorage.getItem("Guid"),
        AppId: "StringDemo_Web"
      };

      doSend(buildRequest("ValidGuid", inArg));
    }
    // 建立 request 字串
    function buildRequest(methodName, inArg) {
      var inPack = {
        Method: methodName,
        Request: JSON.stringify(inArg)
      };
      return JSON.stringify(inPack);
    }

    // 關閉連線
    function onClose() {
      
      writeToScreen("DISCONNECTED!");
      // console.log(evt);
    }
    // 接收到訊息
    function onMessage(evt) {
     
      //  const th = this;
      //當自己在聯絡人介面時，若有人傳訊息給你，則會顯示未讀標示
        var obj = JSON.parse(evt.data);
        var objresult = JSON.parse(obj.Response);
       // console.log(obj);
        
        if(obj.Method=="NotifyInfo"&&objresult.Account==localStorage.getItem("Account")){
        th.axios.post('https://itriptaiwan.megatime.com.tw/string/CustMsgService/GetNewMsgBuddy', {
        AppId: 'StringDemo_Web',
        Phone: localStorage.getItem("Account"),
        Guid: localStorage.getItem("Guid") 
        })
        .then(function (response) {
         //console.log(response);
            th.arrayphone.length = 0; 
            for(var i=0;response.data.ChatBuddys.length;i++){
              var obj={
                name1: response.data.ChatBuddys[i].SayPhone,
                msg1: response.data.ChatBuddys[i].LatestMsg,
                chatid1:response.data.ChatBuddys[i].LatestChatId,
                unread:response.data.ChatBuddys[i].UnreadCount,
              };
              
              th.arrayphone.push(obj);
             
        }
        })
        .catch(function (error) {
          console.log(error);
        }); 
        }
        
    }
    // 發生錯誤
    function onError(evt) {
      writeToScreen("ERROR: " + evt.data);
    }
    // 傳送資料給 server
    function doSend(message) {
      websocket.send(message);
    }
    // 將資料顯示在畫面上
    function writeToScreen() {
      // console.log(msg);
    }
  },
    methods: {
    logout(){
        const th = this;
        this.axios.post('https://itriptaiwan.megatime.com.tw/string/CustMsgService/Logout', {
        AppId: 'StringDemo_Web',
        Account: localStorage.getItem("Account"),
        Guid: localStorage.getItem("Guid") 
        })
        .then(function (response) {
          console.log(response);
          localStorage.clear();
          th.$router.push({path:"/"}) 
        })
        .catch(function (error) {
          console.log(error);
        });  
    },
    chatroom(item){
        localStorage.setItem("chatid",item.chatid1);
        localStorage.setItem("member",item.name1);
        this.$router.push({path:"/chat"}); 
    },
    bang2(){
        document.getElementById("button_add").click(); 
      },
    change2(){
          if(document.getElementById("input_add").value!=""){
              document.getElementById("button_add").disabled = false;
          }
          else{
              document.getElementById("button_add").disabled = true;
          }
      },
    add(){
       const th = this;
       var b = true;
       for(var i=0;i<th.arrayphone.length;i++){
         if(th.arrayphone[i].name1==document.getElementById("input_add").value){
           b=false;
         }
       }
       if(b==true){
           this.axios.post('https://itriptaiwan.megatime.com.tw/string/CustMsgService/SendMsgOnly', {
                
                Guid:localStorage.getItem("Guid"),
                SayPhone:localStorage.getItem("Account"),
                ToPhone:document.getElementById("input_add").value,
                Content:"現在您可以開始與對方聊天",
                })
                .then(function(response) {
                    console.log(response);
                    var obj = {
                        name1:document.getElementById("input_add").value,
                        msg1:"現在您可以開始與對方聊天",
                      }
                      th.arrayphone.unshift(obj);
                })
                .catch(function(error) {
                    console.log(error);
                });
       }
        else{
          alert("與"+document.getElementById("input_add").value+"已是好友");
        }
    }
  },
  
}
</script>
<style scoped>
  html,body{
            height: 100%;
            overflow-y:hidden;
        }
  .read{
            margin-left:3.5%;
            margin-top:8px;
            border-radius:8px !important; 
  }
  .custom_fixed{
            height: 63px;
        }
  .custom_top{
            height: 100%;
            background-color: white;
            box-shadow: 0px 0px 7px #DCDCDC;
        }
  .custom_nav{
            
            left: 50%;
            transform: translateX(-50%);
        }
  .dropdown-menu{
            left:auto !important;
            right: 15px;
        }
  .bbb{
            display: inline-block;
            position: absolute;
            top: 50%;
            left: 65px;
            transform: translateY(-44%);
        }
  .a3:active{
            background-color:white !important;
        }
  .contact_person{
            position:absolute;
            width:65%;
            left:0;
            right:0;
            margin:0 auto;
            top:63px;
            bottom:0px;
            overflow-y:auto;
  } 
  .idol{
      width:95%;
      height:110px;
      box-shadow: 0px 0px 6px #DCDCDC;
      background-image:url(../assets/call_center01.642151fe.png);
      background-repeat:no-repeat;
      background-size:80px 80px;
      background-position:5% 45%;
      position:relative;
  }
   .person{
      position:absolute;
      letter-spacing:3px;
      font-size:23px;
      top:35%;
      transform:translateY(-50%);
      left:23%;
  }
  .msg{
      text-overflow:ellipsis;
      overflow:hidden;
      white-space:nowrap;
      color:gray;
      width:400px;
      position:absolute;
      letter-spacing:1px;
      font-size:20px;
      top:64%;
      transform:translateY(-50%);
      left:23%;
  }
</style>
