<template>
  <div class="container-fluid" >
        <div class="header1 d-flex justify-content-between">
            <div id="back1">
                <img src="../assets/back.png" @click="backclick">
            </div>
            <div id="nav1">
                <h4 id="topic"><strong></strong></h4>
            </div>
            <div id="logout1">
                <img src="../assets/logout.png" @click="pictureclick">
            </div>
        </div>
        <div class="chat_space">
             <div id="mycontent">
             </div>
        </div>
            <div class="bottom_input fixed-bottom form-inline">
                <input type="text" class="form-control col-9 offset-1" id="input_chat"
                placeholder="請輸入訊息" autocomplete="off" v-on:input="change" @keydown.13="bang1">
                <div id="img1">
                    <label for="input">
                        <svg width="100%" height="100%" viewBox="0 0 16 16" class="bi bi-arrow-bar-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg" style="cursor:pointer;">
                            <path fill-rule="evenodd" d="M8 10a.5.5 0 0 0 .5-.5V3.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 3.707V9.5a.5.5 0 0 0 .5.5zm-7 2.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13a.5.5 0 0 1-.5-.5z"/>
                        </svg>
                    </label>            
                    <input id="input" type="file" @change="upload_picture" hidden/>
                </div>
                <button type="button" class="btn btn-outline-dark  submit"  @click="input" id="button_input1" disabled>送 出</button>
            </div>
  </div>
</template>

<script>
// @ is an alias to /src
/* eslint-disable */
export default {
    name: 'chat',
    compoments:{   
    },
    data:()=>({
      chatroom:null,
      chat_space:null,
      newdiv_parent:null,
      newdiv_child:null,
      newdiv_time:null,
      newdiv_content:null,
      left_content_outer:null,
      right_content_outer:null,
      left_content_inner:null,
      right_content_inner:null,
      left_time:null,
      right_time:null,
      sum:0,
      picture:null,
      time:null, 
      arraytime:[],
      arraytime2:[],
      array3:[],
      arraypicture:[],
      arraysrc:[],
    }),
    created(){  
       const th = this;
       this.axios.post('https://itriptaiwan.megatime.com.tw/string/CustMsgService/GetMsg', {
         headers: {
              ContentType: "application/json",
              Accept: "application/json"
            },
          Guid:localStorage.getItem("Guid"),
          ToPhone:localStorage.getItem("Account"),
          ChatId:localStorage.getItem("chatid"),
          Dir:-1,
          SayPhone:localStorage.getItem("member"),
          MaxCount: 100,
        })
        .then(function (response) {
            document.getElementById("topic").innerHTML = localStorage.getItem("member"); 
            th.chatroom = document.getElementById("mycontent");
            th.left_content_outer = document.getElementsByClassName("contentt2");
            th.right_content_outer = document.getElementsByClassName("contentt1");
            for(var i=0;i<response.data.Chats.length;i++){
              if(response.data.Chats[i].SayPhone == localStorage.getItem("Account")){
                if(response.data.Chats[i].ContentType =="0"){
                      th.newdiv_parent = document.createElement("div");
                      th.newdiv_child = document.createElement("div");
                      th.newdiv_content = document.createTextNode(response.data.Chats[i].Content);
                      th.newdiv_time = document.createElement("div");
                      th.newdiv_parent.setAttribute("class","contentt1 user-select-none");
                      th.newdiv_parent.setAttribute("data-toggle","collapse");
                      th.newdiv_parent.setAttribute("data-target","#time"+response.data.Chats[i].ChatID);
                      th.newdiv_child.setAttribute("class","content11");
                      th.newdiv_time.setAttribute("class","time1 collapse");
                      th.newdiv_time.setAttribute("id","time"+response.data.Chats[i].ChatID);
                      th.newdiv_child.appendChild(th.newdiv_content);
                      th.newdiv_parent.appendChild(th.newdiv_child);
                      th.chatroom.appendChild(th.newdiv_parent);
                      th.chatroom.appendChild(th.newdiv_time);
                      th.arraytime.push(response.data.Chats[i].DataTime);
                }
                else if(response.data.Chats[i].ContentType =="1"){
                      th.newdiv_parent = document.createElement("div");
                      th.newdiv_time = document.createElement("div");
                      th.newdiv_parent.setAttribute("class","contentt1 user-select-none");
                      th.newdiv_parent.setAttribute("data-toggle","collapse");
                      th.newdiv_parent.setAttribute("data-target","#time"+response.data.Chats[i].ChatID);
                      th.newdiv_time.setAttribute("class","time1 collapse");
                      th.newdiv_time.setAttribute("id","time"+response.data.Chats[i].ChatID);
                      th.imgfiler(response.data.Chats[i].FunBody,response.data.Chats[i].ChatID,i-th.left_content_outer.length,response.data.Chats[i].ExtraMsg);
                      th.chatroom.appendChild(th.newdiv_parent);
                      th.chatroom.appendChild(th.newdiv_time);
                      th.arraytime.push(response.data.Chats[i].DataTime);
                }
                else if(response.data.Chats[i].ContentType =="6"){
                      th.newdiv_parent = document.createElement("div");
                      th.newdiv_child = document.createElement("a");
                      th.newdiv_time = document.createElement("div");
                      th.newdiv_content = document.createTextNode(response.data.Chats[i].Content);
                      th.newdiv_parent.setAttribute("class","contentt1 user-select-none");
                      th.newdiv_parent.setAttribute("data-toggle","collapse");
                      th.newdiv_parent.setAttribute("data-target","#time"+response.data.Chats[i].ChatID);
                      th.newdiv_child.setAttribute("class","content11");
                      th.newdiv_child.setAttribute("href",response.data.Chats[i].Content);
                      th.newdiv_child.setAttribute("target","_blank");
                      th.newdiv_time.setAttribute("class","time1 collapse");
                      th.newdiv_time.setAttribute("id","time"+response.data.Chats[i].ChatID);
                      th.newdiv_child.appendChild(th.newdiv_content);
                      th.newdiv_parent.appendChild(th.newdiv_child);
                      th.chatroom.appendChild(th.newdiv_parent);
                      th.chatroom.appendChild(th.newdiv_time);
                      th.arraytime.push(response.data.Chats[i].DataTime);
                } 
              }
               else if(response.data.Chats[i].SayPhone == localStorage.getItem("member")){
                  if(response.data.Chats[i].ContentType =="0"){
                      th.newdiv_parent = document.createElement("div");
                      th.newdiv_child = document.createElement("div");
                      th.newdiv_time = document.createElement("div");
                      th.newdiv_content = document.createTextNode(response.data.Chats[i].Content);
                      th.newdiv_parent.setAttribute("class","contentt2 user-select-none");
                      th.newdiv_parent.setAttribute("data-toggle","collapse");
                      th.newdiv_parent.setAttribute("data-target","#time"+response.data.Chats[i].ChatID);
                      th.newdiv_child.setAttribute("class","content22");
                      th.newdiv_time.setAttribute("class","time2 collapse");
                      th.newdiv_time.setAttribute("id","time"+response.data.Chats[i].ChatID);
                      th.newdiv_child.appendChild(th.newdiv_content);
                      th.newdiv_parent.appendChild(th.newdiv_child);
                      th.chatroom.appendChild(th.newdiv_parent);
                      th.chatroom.appendChild(th.newdiv_time);
                      th.arraytime2.push(response.data.Chats[i].DataTime);
                }
                  else if(response.data.Chats[i].ContentType =="1"){
                      th.newdiv_parent = document.createElement("div");
                      th.newdiv_time = document.createElement("div");
                      th.newdiv_parent.setAttribute("class","contentt2 user-select-none");
                      th.newdiv_parent.setAttribute("data-toggle","collapse");
                      th.newdiv_parent.setAttribute("data-target","#time"+response.data.Chats[i].ChatID);
                      th.newdiv_time.setAttribute("class","time2 collapse");
                      th.newdiv_time.setAttribute("id","time"+response.data.Chats[i].ChatID);
                      th.imgfilel(response.data.Chats[i].FunBody,response.data.Chats[i].ChatID,i-th.right_content_outer.length,response.data.Chats[i].ExtraMsg);
                      th.chatroom.appendChild(th.newdiv_parent);
                      th.chatroom.appendChild(th.newdiv_time);
                      th.arraytime2.push(response.data.Chats[i].DataTime);
                }
                  else if(response.data.Chats[i].ContentType =="6"){
                      th.newdiv_parent = document.createElement("div");
                      th.newdiv_child = document.createElement("a");
                      th.newdiv_time = document.createElement("div");
                      th.newdiv_content = document.createTextNode(response.data.Chats[i].Content);
                      th.newdiv_parent.setAttribute("class","contentt2 user-select-none");
                      th.newdiv_parent.setAttribute("data-toggle","collapse");
                      th.newdiv_parent.setAttribute("data-target","#time"+response.data.Chats[i].ChatID);
                      th.newdiv_child.setAttribute("href",response.data.Chats[i].Content);
                      th.newdiv_child.setAttribute("target","_blank");
                      th.newdiv_child.setAttribute("class","content22");
                      th.newdiv_time.setAttribute("class","time2 collapse");
                      th.newdiv_time.setAttribute("id","time"+response.data.Chats[i].ChatID);
                      th.newdiv_child.appendChild(th.newdiv_content);
                      th.newdiv_parent.appendChild(th.newdiv_child);
                      th.chatroom.appendChild(th.newdiv_parent);
                      th.chatroom.appendChild(th.newdiv_time);
                      th.arraytime2.push(response.data.Chats[i].DataTime);
                      
                }
              } 
            }
           th.right_time = document.getElementsByClassName("time1");           
           for(var x=0;x<th.right_time.length;x++){
                 document.getElementsByClassName("time1")[x].innerHTML =  th.arraytime[x].substring(11,19);
           }
           th.left_time = document.getElementsByClassName("time2");
           for(var y=0;y<th.left_time.length;y++){
             document.getElementsByClassName("time2")[y].innerHTML = th.arraytime2[y].substring(11,19);
           }
           th.chat_space = document.getElementsByClassName("chat_space")[0];
           th.chat_space.scrollTop = th.chat_space.scrollHeight;
        }) 
    },
    updated(){
      th.chat_space = document.getElementsByClassName("chat_space")[0];
      th.chat_space.scrollTop = th.chat_space.scrollHeight;
    },
    mounted(){
      const th = this;
      let websocket = new WebSocket(
      "wss://itriptaiwan.megatime.com.tw/string/SocketHandler/AppHandler.ashx"
    );
    websocket.onopen = function(evt) {
      onOpen(evt);
    };
    websocket.onclose = function(evt) {
      onClose(evt);
    };
    websocket.onmessage = function(evt) {
      onMessage(evt);
    };
    websocket.onerror = function(evt) {
      onError(evt);
    };
    // 完成連線
    function onOpen(evt) {
      
      var status = "connected";
      console.log("ws::open : connection established " + status, evt);
      writeToScreen("CONNECTED");
      var inArg = {
        Account: localStorage.getItem("Account"),
        Guid: localStorage.getItem("Guid"),
        AppId: "StringDemo_Web"
      };

      doSend(buildRequest("ValidGuid", inArg));
    }
    // 建立 request 字串
    function buildRequest(methodName, inArg) {
      var inPack = {
        Method: methodName,
        Request: JSON.stringify(inArg)
      };
      return JSON.stringify(inPack);
    }
    // 關閉連線
    function onClose() {
      
      writeToScreen("DISCONNECTED");
      // console.log(evt);
    }
    // 接收到訊息
    function onMessage(evt) {
      //當自己在聯絡人介面時，若有人傳訊息給你，則會顯示未讀標示
        var obj = JSON.parse(evt.data);
        var objresult = JSON.parse(obj.Response);   
       if(obj.Method=="NotifyInfo" && objresult.Account==localStorage.getItem("Account")){
            localStorage.setItem("chatid",objresult.ChatId);
            th.axios.post('https://itriptaiwan.megatime.com.tw/string/CustMsgService/GetMsg', {
              headers: {
              ContentType: "application/json",
              Accept: "application/json"
            },
              Guid:localStorage.getItem("Guid"),
              ToPhone:localStorage.getItem("Account"),
              ChatId:localStorage.getItem("chatid"),
              SayPhone:localStorage.getItem("member"),
              MaxCount: 100,
        })
        .then(function (response) { 
          if(response.data.Chats[response.data.Chats.length-1].ContentType=="0"){
            th.chatroom = document.getElementById("mycontent"); 
            th.newdiv_parent = document.createElement("div");
            th.newdiv_child = document.createElement("div");
            th.newdiv_time = document.createElement("div");
            th.newdiv_parent.setAttribute("class","contentt2 user-select-none");
            th.newdiv_parent.setAttribute("data-toggle","collapse");
            th.newdiv_parent.setAttribute("data-target","#time"+objresult.ChatId);
            th.newdiv_child.setAttribute("class","content22");
            th.newdiv_time.setAttribute("class","time2 collapse");
            th.newdiv_time.setAttribute("id","time"+objresult.ChatId);
            th.newdiv_parent.appendChild(th.newdiv_child);
            th.chatroom.appendChild(th.newdiv_parent);
            th.chatroom.appendChild(th.newdiv_time);
            th.left_content_inner = document.getElementsByClassName("content22");
            document.getElementsByClassName("content22")[th.left_content_inner.length-1].innerHTML = objresult.Alert;
            th.right_time = document.getElementsByClassName("time1");
            th.left_time = document.getElementsByClassName("time2");
            th.arraytime2.push(response.data.Chats[th.right_time.length+th.left_time.length-1].DataTime);
            document.getElementsByClassName("time2")[th.left_time.length-1].innerHTML = th.arraytime2[th.left_time.length-1].substring(11,19);
            th.chat_space = document.getElementsByClassName("chat_space")[0];
            th.chat_space.scrollTop = th.chat_space.scrollHeight;
          }
          else if(response.data.Chats[response.data.Chats.length-1].ContentType=="1"){
             var f = document.getElementsByClassName("contentt1");
             th.chatroom = document.getElementById("mycontent"); 
             th.newdiv_parent = document.createElement("div");
             th.newdiv_time = document.createElement("div");
             th.newdiv_parent.setAttribute("class","contentt2 user-select-none");
             th.newdiv_parent.setAttribute("data-toggle","collapse");
             th.newdiv_parent.setAttribute("data-target","#time"+objresult.ChatId);
             th.newdiv_time.setAttribute("class","time2 collapse");
             th.newdiv_time.setAttribute("id","time"+objresult.ChatId);
             th.imgfile_socket(response.data.Chats[response.data.Chats.length-1].FunBody,response.data.Chats[response.data.Chats.length-1].ChatID,response.data.Chats.length-f.length,response.data.Chats[response.data.Chats.length-1].ExtraMsg);
             th.chatroom.appendChild(th.newdiv_parent);
             th.chatroom.appendChild(th.newdiv_time);
             th.right_time = document.getElementsByClassName("time1");
             th.left_time = document.getElementsByClassName("time2");
             th.arraytime2.push(response.data.Chats[th.right_time.length+th.left_time.length-1].DataTime);
             document.getElementsByClassName("time2")[th.left_time.length-1].innerHTML = th.arraytime2[th.left_time.length-1].substring(11,19);
             th.chat_space = document.getElementsByClassName("chat_space")[0];
             th.chat_space.scrollTop = th.chat_space.scrollHeight;
          }
          else if(response.data.Chats[response.data.Chats.length-1].ContentType=="6"){
            th.chatroom=document.getElementById("mycontent"); 
            th.newdiv_parent = document.createElement("div");
            th.newdiv_child = document.createElement("a");
            th.newdiv_time = document.createElement("div");
            th.newdiv_parent.setAttribute("class","contentt2 user-select-none");
            th.newdiv_parent.setAttribute("data-toggle","collapse");
            th.newdiv_parent.setAttribute("data-target","#time"+objresult.ChatId);
            th.newdiv_child.setAttribute("class","content22");
            th.newdiv_child.setAttribute("href",objresult.Alert);
            th.newdiv_child.setAttribute("target","_blank");
            th.newdiv_time.setAttribute("class","time2 collapse");
            th.newdiv_time.setAttribute("id","time"+objresult.ChatId);
            th.newdiv_parent.appendChild(th.newdiv_child);
            th.chatroom.appendChild(th.newdiv_parent);
            th.chatroom.appendChild(th.newdiv_time);
            th.left_content_inner = document.getElementsByClassName("content22");
            document.getElementsByClassName("content22")[th.left_content_inner.length-1].innerHTML = objresult.Alert;
            th.right_time = document.getElementsByClassName("time1");
            th.left_time = document.getElementsByClassName("time2");
            th.arraytime2.push(response.data.Chats[th.right_time.length+th.left_time.length-1].DataTime);
            document.getElementsByClassName("time2")[th.left_time.length-1].innerHTML = th.arraytime2[th.left_time.length-1].substring(11,19);
            th.chat_space = document.getElementsByClassName("chat_space")[0];
            th.chat_space.scrollTop = th.chat_space.scrollHeight;
          }
        })      
      }
    }
    // 發生錯誤
    function onError(evt) {
      writeToScreen("ERROR: " + evt.data);
    }
    // 傳送資料給 server
    function doSend(message) {
      websocket.send(message);
    }
    // 將資料顯示在畫面上
    function writeToScreen() {
      // console.log(msg);
    }
    
    th.time = window.setInterval((() => this.ba()
     ), 800);
    
  },
 
  beforeDestroy(){
      if(this.time){
          window.clearInterval(this.time);  
      } 
  },
    methods: {
      
      bang1(){
        document.getElementById("button_input1").click(); 
      },
      change(){
          if(document.getElementById("input_chat").value!=""){
              document.getElementById("button_input1").disabled = false;
          }
          else{
              document.getElementById("button_input1").disabled = true;
          }
      },
      pictureclick(){
        this.$router.push({path:"/"})      
    },
      backclick(){
     
         
         this.$router.push({path:"/account"})
    },
      input(){
          const th = this;
          var content1=document.getElementById("input_chat").value;
          if(content1.indexOf("https://")!=-1||content1.indexOf("http://")!=-1||content1.indexOf("www.")!=-1){
             this.axios.post('https://itriptaiwan.megatime.com.tw/string/CustMsgService/SendMsg', {
             Guid:localStorage.getItem("Guid"),
             SayPhone:localStorage.getItem("Account"),
             ToPhone:localStorage.getItem("member"),
             Content: content1,
             ContentType:6,
        })
        .then(function (response) {
            localStorage.setItem("chatid",response.data.ChatID);
            var content=document.getElementById("input_chat").value;
            th.chatroom = document.getElementById("mycontent");
            th.newdiv_parent = document.createElement("div");
            th.newdiv_child = document.createElement("a");
            th.newdiv_time = document.createElement("div");
            th.newdiv_parent.setAttribute("class","contentt1 user-select-none");
            th.newdiv_parent.setAttribute("data-toggle","collapse");
            th.newdiv_parent.setAttribute("data-target","#time"+response.data.ChatID);
            th.newdiv_child.setAttribute("class","content11");
            th.newdiv_child.setAttribute("href",content1);
            th.newdiv_child.setAttribute("target","_blank");
            th.newdiv_time.setAttribute("class","time1 collapse");
             th.newdiv_time.setAttribute("id","time"+response.data.ChatID);
            th.newdiv_parent.appendChild(th.newdiv_child);
            th.chatroom.appendChild(th.newdiv_parent);
            th.chatroom.appendChild(th.newdiv_time);
            th.right_content_inner = document.getElementsByClassName("content11");
            document.getElementsByClassName("content11")[th.right_content_inner.length-1].innerHTML = content;
            th.right_time = document.getElementsByClassName("time1");
            th.left_time = document.getElementsByClassName("time2");
            th.arraytime.push(response.data.Chats[th.right_time.length+th.left_time.length-1].DataTime);
            document.getElementsByClassName("time1")[th.right_time.length-1].innerHTML = th.arraytime[th.right_time.length-1].substring(11,19);
            document.getElementById("input_chat").value="";
            th.chat_space = document.getElementsByClassName("chat_space")[0];
            th.chat_space.scrollTop = th.chat_space.scrollHeight;
        })
        .catch(function (error) {
        });  
          }
          else{          
          this.axios.post('https://itriptaiwan.megatime.com.tw/string/CustMsgService/SendMsg', {
          Guid:localStorage.getItem("Guid"),
          SayPhone:localStorage.getItem("Account"),
          ToPhone:localStorage.getItem("member"),
          Content: content1,
        })
        .then(function (response) {
           console.log(response);
             localStorage.setItem("chatid",response.data.ChatID);
             var content = document.getElementById("input_chat").value;
             th.chatroom = document.getElementById("mycontent");
             th.newdiv_parent = document.createElement("div");
             th.newdiv_child = document.createElement("div");
             th.newdiv_time = document.createElement("div");
             th.newdiv_parent.setAttribute("class","contentt1 user-select-none");
             th.newdiv_parent.setAttribute("data-toggle","collapse");
             th.newdiv_parent.setAttribute("data-target","#time"+response.data.ChatID);
             th.newdiv_child.setAttribute("class","content11");
             th.newdiv_time.setAttribute("class","time1 collapse");
             th.newdiv_time.setAttribute("id","time"+response.data.ChatID);
             th.newdiv_parent.appendChild(th.newdiv_child);
             th.chatroom.appendChild(th.newdiv_parent);
             th.chatroom.appendChild(th.newdiv_time);
             th.right_content_inner = document.getElementsByClassName("content11");
             document.getElementsByClassName("content11")[th.right_content_inner.length-1].innerHTML = content;
             th.right_time = document.getElementsByClassName("time1");
             th.left_time = document.getElementsByClassName("time2");
             th.arraytime.push(response.data.Chats[th.right_time.length+th.left_time.length-1].DataTime);
             document.getElementsByClassName("time1")[th.right_time.length-1].innerHTML = th.arraytime[th.right_time.length-1].substring(11,19);
             document.getElementById("input_chat").value="";
             th.chat_space = document.getElementsByClassName("chat_space")[0];
             th.chat_space.scrollTop = th.chat_space.scrollHeight;
        })
          }
    },
    
    ba(){
      

      const th = this;
      this.axios.post('https://itriptaiwan.megatime.com.tw/string/CustMsgService/GetMsg', {
            Guid:localStorage.getItem("Guid"),
            ToPhone:localStorage.getItem("Account"),
            ChatId:localStorage.getItem("chatid"),
            SayPhone:localStorage.getItem("member"),
            MaxCount: 100,
        })
        .then(function (response) {
         
          th.sum = 0;
          for(var i=0;i<response.data.Chats.length;i++){
            if(response.data.Chats[i].SayPhone == localStorage.getItem("Account")){
              if(response.data.Chats[i].ReadCount=="1"){
                th.sum = th.sum+1;
            for(var k=0;k<th.sum;k++){
                  document.getElementsByClassName("time1")[k].innerHTML =  "已讀 "+th.arraytime[k].substring(11,19);
          } 
              }
            }
          }
        })
        
    },
    imgfiler(FunBody,ChatID,p,ExtraMsg){
      const th = this;
      if(ExtraMsg.indexOf('JPG')>=0 || ExtraMsg.indexOf('png')>=0){
          const params = new URLSearchParams();
          params.append('FileId', FunBody);
          params.append('chatId', ChatID);
          params.append('Account', localStorage.getItem("Account"));          
          params.append('Guid', localStorage.getItem("Guid"));
          th.$axios.post(
             "https://itriptaiwan.megatime.com.tw/string/FileTransfer/FileDownload.ashx",
             params,
             {
                 headers: {
                     "Content-Type": "application/x-www-form-urlencoded",
                 },
                 responseType: "arraybuffer",
             }
         )
         .then(function (response) {
              return 'data:image/png;base64,' + btoa(new Uint8Array(response.data).reduce((data, byte) => data + String.fromCharCode(byte), ''))   
         })
         .then(function (data) {
               
               th.right_content_outer = document.getElementsByClassName("contentt1");
               th.newdiv_child = document.createElement("img");
               th.newdiv_child.setAttribute("class","content_img");
               th.newdiv_child.setAttribute("src",data);
               th.newdiv_child.setAttribute("id","load"+ChatID);
              
                 th.right_content_outer[p].appendChild(th.newdiv_child);
               
               $("#load"+ChatID).click(function(){
                 th.file_download(data,ExtraMsg);
                 });
             })
      }
    },
    imgfilel(FunBody,ChatID,p2,ExtraMsg){
      const th = this;
      if(ExtraMsg.indexOf('JPG')>=0 || ExtraMsg.indexOf('png')>=0){
          const params = new URLSearchParams();
          params.append('FileId', FunBody);
          params.append('chatId', ChatID);
          params.append('Account', localStorage.getItem("Account"));          
          params.append('Guid', localStorage.getItem("Guid"));
          th.$axios.post(
             "https://itriptaiwan.megatime.com.tw/string/FileTransfer/FileDownload.ashx",
             params,
             {
                 headers: {
                     "Content-Type": "application/x-www-form-urlencoded",
                 },
                 responseType: "arraybuffer",
             }
         )
         .then(function (response) {
              return 'data:image/png;base64,' + btoa(new Uint8Array(response.data).reduce((data, byte) => data + String.fromCharCode(byte), ''))   
         })
         .then(function (data) {
               th.left_content_outer = document.getElementsByClassName("contentt2");
               th.newdiv_child = document.createElement("img");
               th.newdiv_child.setAttribute("class","content_img");
               th.newdiv_child.setAttribute("src",data);
               th.newdiv_child.setAttribute("id","load"+ChatID);
                 th.left_content_outer[p2].appendChild(th.newdiv_child);
              $("#load"+ChatID).click(function(){
                 th.file_download(data,ExtraMsg);
                 });
             })
      }
    },
    imgfile_socket(FunBody,ChatID,p3,ExtraMsg){
      const th = this;
       if(ExtraMsg.indexOf('JPG')>=0 || ExtraMsg.indexOf('png')>=0){
           const params = new URLSearchParams();
           params.append('FileId', FunBody);
           params.append('chatId', ChatID);
           params.append('Account', localStorage.getItem("Account"));          
           params.append('Guid', localStorage.getItem("Guid"));
            th.$axios.post(
              "https://itriptaiwan.megatime.com.tw/string/FileTransfer/FileDownload.ashx",
              params,
              {
                  headers: {
                      "Content-Type": "application/x-www-form-urlencoded",
                  },
                  responseType: "arraybuffer",
              }
          )
          .then(function (response) {
                return 'data:image/png;base64,' + btoa(new Uint8Array(response.data).reduce((data, byte) => data + String.fromCharCode(byte), ''))   
          })
          .then(function (data) {
            console.log(data);
                 th.left_content_outer = document.getElementsByClassName("contentt2");
                 th.newdiv_child = document.createElement("img");
                 th.newdiv_child.setAttribute("class","content_img");
                 th.newdiv_child.setAttribute("src",data);
                 th.newdiv_child.setAttribute("id","load"+ChatID);
                 th.left_content_outer[p3-1].appendChild(th.newdiv_child);
                  $("#load"+ChatID).click(function(){
                    th.file_download(data,ExtraMsg);
                       });
              })
       }
    },
    upload_picture(event){
       const th = this;
       const file = event.target.files.item(0);
       const formdata = new FormData();
       formdata.append('files[0]',file);
       var filename = formdata.getAll('files[0]')[0].name;
       var filepoint = filename.indexOf(".");
       var filelength = filename.length;
       var filetype = filename.substring((filepoint+1), filelength);
       th.$axios.post(
              "https://itriptaiwan.megatime.com.tw/string/FileTransfer/FileUpload.ashx",
              formdata,
              {
                    headers: {
                        "Content-Type": "multipart/form-data",
                          },
              }
        )
       .then(function(response) {
              var transformfile = response.data;
              //上傳檔案後須用到sendmsg發送和下載檔案功能
              th.sendfile(transformfile,filename,filetype);
       })
    },
    sendfile(transformfile,filename,filetype){
        const th = this;
        th.$axios.post(
            "https://itriptaiwan.megatime.com.tw/string/CustMsgService/SendMsg",
            {
              headers: {
                ContentType: "application/json",
                Accept: "application/json"
              },
              Guid: localStorage.getItem("Guid"),
              SayPhone: localStorage.getItem("Account"),
              ToPhone: localStorage.getItem("member"),
              Content: filename,
              ContentType: 1,
              Funkey: filetype,
              FunBody: transformfile,
              ExtraMsg: filename,
            }
          )
          .then(function (response) {
              var ChatID = response.data.ChatID;
              th.chatroom = document.getElementById("mycontent");
              th.newdiv_parent = document.createElement("div");
              th.newdiv_time = document.createElement("div");
              th.newdiv_parent.setAttribute("class","contentt1 user-select-none");
              th.newdiv_parent.setAttribute("data-toggle","collapse");
              th.newdiv_parent.setAttribute("data-target","#time"+response.data.ChatID);
              th.newdiv_time.setAttribute("class","time1 collapse");
              th.newdiv_time.setAttribute("id","time"+response.data.ChatID);
              th.chatroom.appendChild(th.newdiv_parent);
              th.chatroom.appendChild(th.newdiv_time);
              th.right_time = document.getElementsByClassName("time1");
              th.left_time = document.getElementsByClassName("time2");
              th.arraytime.push(response.data.Chats[th.right_time.length+th.left_time.length-1].DataTime);
              document.getElementsByClassName("time1")[th.right_time.length-1].innerHTML = th.arraytime[th.right_time.length-1].substring(11,19);
              th.chat_space = document.getElementsByClassName("chat_space")[0];
              th.chat_space.scrollTop = th.chat_space.scrollHeight;
              const params = new URLSearchParams();
              params.append('FileId', transformfile);
              params.append('chatId', ChatID);
              params.append('Account', localStorage.getItem("Account"));
              params.append('Guid', localStorage.getItem("Guid"));
              th.$axios.post(
            "https://itriptaiwan.megatime.com.tw/string/FileTransfer/FileDownload.ashx",
            params,
            {
              headers: {
                 "Content-Type": "application/x-www-form-urlencoded",
              },
              responseType: "arraybuffer",
            }
          )
              .then(function (response) {
                  return 'data:image/png;base64,' + btoa(new Uint8Array(response.data).reduce((data, byte) => data + String.fromCharCode(byte), ''))
            })
              .then(function (data) {
                 if(filename.indexOf('JPG')>=0 || filename.indexOf('png')>=0){
                   th.right_content_outer = document.getElementsByClassName("contentt1");
                   var img = document.createElement("img");
                   img.setAttribute("src",data);
                   img.setAttribute("class","content_img");
                   img.setAttribute("id","load"+ChatID);
                   th.right_content_outer[th.right_content_outer.length-1].appendChild(img);
                    $("#load"+ChatID).click(function(){
                        th.file_download(data,filename);
                       });
                 }
            })
          })
    },
    file_download(data,filename){
       var arr = data.split(',');
       var mime = arr[0].match(/:(.*?);/)[1];
       var bstr = atob(arr[1]);
       var n = bstr.length;
       var u8arr = new Uint8Array(n);
       while (n--) {
            u8arr[n] = bstr.charCodeAt(n);
        }
       var load =  new File([u8arr], "filename", { type: mime });
       var a = document.createElement('a');
       var url = window.URL.createObjectURL(load);
       a.href = url;
       a.download = filename;
       a.click();
       window.URL.revokeObjectURL(url);
    },
  }
}
</script>

<style scoped>
.outer{
  width:45px;
  height:45px;
  display:inline-block;
  margin-right:10px;
  background-image:url(../assets/bang.png);
  cursor:pointer;
}
  body{
    overflow-x:hidden;
  }
  .header1{
    width: 100%;
    height: 63px;
    position: fixed;
    z-index: 999;
    background-color: white;
    left:0;
    box-shadow: 0px 0px 7px #DCDCDC;
  }
  #back1{
    cursor:pointer; 
    position:relative;
    top:50%;
    left:1%;
    width:50px;
    height:50px;
    transform:translateY(-50%);
  }
  #nav1{
    user-select:none;
    position: relative;
    height:50%;    
    top:50%;
    transform: translateY(-50%);
  }
  #logout1{
    cursor:pointer;
    position: relative;
    top:50%;
    width: 50px;
    height: 50px;
    right:1%;
    transform: translateY(-50%); 
  }
  
  .chat_space{
    position:absolute;
    overflow-y:auto;
    width:100%;
    left:0;
    top:63px;
    bottom:60px;
    padding-right:15px;
    padding-left:15px;
  }
   img{
     width:100%;
     height:100%;
   }
   .bottom_input{
     width:100%;
     height:60px;
     z-index:10;
     background-color: #e7faf2;
     box-shadow: 0px 0px 3px #DCDCDC;
     position:absolute;
   }
   .submit{
     width:120px;
     margin-left:50px;
   }
   input.form-control:focus{
    border-color:black;
    background-color: #fff;
    outline: 0;
    box-shadow: 0 0 0 1.3px #000000;
  }
  .content11{
    font-size:23px;
    display:inline-block;
    background-color:green;
    color:white;
    border-radius:10px;
    padding:8px 12px;
    
    max-width:45%;
    word-wrap:break-word;
    text-align:left;
  }
  .content_img{
    display:inline-block;
    background-color:green;
    border-radius:10px;
    padding:8px;
    max-width:300px;
    cursor:pointer;
  }
  .content22{
    font-size:23px;
    display:inline-block;
    background-color:green;
    color:white;
    border-radius:10px;
    padding:8px;
    margin-top:8px 12px;
    max-width:45%;
    word-wrap:break-word;
    text-align:left;
  }
  .contentt1{
    text-align:right;
    margin-top:7px;
    margin-bottom:2px;
  }
  .contentt2{
    margin-top:7px;
    margin-bottom:2px;
  }
  #img1{
    z-index:999;
    margin-left:-40px;
    width:30px;
    height:30px;
  }
  .time1{
    text-align:right;
  }
  .time2{
    text-align:left;
  }
  .download{
    background-image:url(../assets/a321.png);
    
  }
</style>
