<template>
    <div class="ml-5">
        <div class="m-3" v-html="message"></div>
        <div class="m-3" v-text="message"></div>
        <a class="m-3" :title="hint" :href="url">{{site}}</a>
        <ul class="m-3 list-unstyled">
          <li><a :class="{ active: isActive }" :href="url">選項一</a></li>
          <li><a :class="classList" :href="url">選項二</a></li>
          <li><a :style="styleList" :href="url">選項三</a></li>
        </ul>
        <button :class="btn" @click="btn1">按鈕一</button>
        <button :class="btn" @click="btn2">按鈕二</button>
        <div class="row m-3">
          <input type="text" class="col-2 form-control" v-model="msg">
          <div class="ml-3 my-auto  ">{{msg}}</div>
        </div>
        <div class="form-check m-3">
          <input type="checkbox" class="form-check-input" id="check" v-model="toggle">
          <label for="check" class="form-check-label">checkbox</label>
          <span class="p-3">toggle = {{toggle}}</span>
        </div>
        <div class="form-check m-3">
          <input type="checkbox" class="form-check-input" id="check2" v-model="group" value="2">
          <label for="check2" class="form-check-label">checkbox2</label>
        </div>
        <div class="form-check m-3">
          <input type="checkbox" class="form-check-input" id="check3" v-model="group" value="3">
          <label for="check3" class="form-check-label">checkbox3</label>
        </div>
        <div class="form-check m-3">
          <input type="checkbox" class="form-check-input" id="check4" v-model="group" value="4">
          <label for="check4" class="form-check-label">checkbox4</label>
        </div>
        <div class="m-3">group = {{group}}</div>
        <div class="m-3">
          <button class="btn btn-success" @click="btn3">選項</button>
            <span class="d-inline-block ml-2" v-if="isShow">條件成立</span>
            <span class="d-inline-block ml-2" v-else>條件不成立</span>
        </div>
        <div class="m-3 form-row">
            <div v-if="isShow2" class="col-3">
              <input type="text" key="123" class=" form-control"  placeholder="條件成立時的提示文字">
            </div>
            <div v-else class="col-3">
              <input type="text" key="12345" class=" form-control" placeholder="條件不成立時的提示文字">
            </div>
            <button class="col-1 btn btn-success" @click="btn4">切換</button>
        </div>
        <div class="m-3">          
            <button class="btn btn-success" @click="btn5">隨機數字</button>
            <ul class="mt-2">
              <li class="mt-2" v-for="(item) in list" :key="item.number">{{item.number}}</li>
            </ul>
            <a href="#" class="btn btn-danger mt-2" @click.prevent="btn6" v->返回頂端</a>
            <p v-once class="mt-3">{{hint}}</p>
            <p v-pre>{{hint}}</p>
            <p v-cloak>{{hint}}</p>
            <button class="btn btn-success text-color"  @click="btn7">v-once</button>
        </div>
        <div class="m-3 row">
          <input type="text" class="form-control col-2" v-model="data1">
          <span class="mt-2 col-1">{{data1|toto}}</span>
        </div>
        <div class="position-relative bg-white mx-auto" style="width:300px; height:300px;">
          <vue-drag-resize :aspectRatio="true" :isActive="true" @resizing="resize" @dragging="resize" :w="100" :h="100">
              <h3>Test</h3>
              <p>你的智商 : <br>{{ top }}</p>

          </vue-drag-resize>
        </div>
        <hooper class="bg-success">
          <slide>
            <div class="c1">
              <p>畫面1</p>
            </div>
          </slide>
          <slide>
            <div class="c2">
              <p>畫面2</p>
            </div>
          </slide>
          <slide>
            <div class="c3">
              <p>畫面3</p>
            </div>
          </slide>
          <slide>
            <div class="c4">
              <p>畫面4</p>
            </div>
          </slide>
          <hooper-navigation slot="hooper-addons"></hooper-navigation>
          <hooper-progress slot="hooper-addons"></hooper-progress>
          <hooper-pagination slot="hooper-addons" mode="fraction"></hooper-pagination>
        </hooper>
        <hooper class="mt-3" :infiniteScroll="true" :itemsToShow="3"  :vertical="true" style="height: 400px">
          <slide>
            <div class="c1">
              <p>畫面1</p>
            </div>
          </slide>
          <slide>
            <div class="c2">
              <p>畫面2</p>
            </div>
          </slide>
          <slide>
            <div class="c3">
              <p>畫面3</p>
            </div>
          </slide>
          <slide>
            <div class="c4">
              <p>畫面4</p>
            </div>
          </slide>
        <hooper-pagination slot="hooper-addons" mode="fraction"></hooper-pagination>
        <hooper-progress slot="hooper-addons"></hooper-progress>
        </hooper>
    </div>
    
  
    
</template>

<script scoped>
// @ is an alias to /src
/*eslint-disable*/
import { Hooper, Slide, Navigation as HooperNavigation,Progress as HooperProgress ,Pagination as HooperPagination} from 'hooper';
import 'hooper/dist/hooper.css';
export default {
  name: 'login2',
  components: {
          Hooper,
          Slide,
          HooperNavigation,
          HooperProgress,
           HooperPagination
    },
data:function(){
    return{
      message:'<h1 class="text-center">bang</h1>',
      hint:'楊士傑我拿槍了嗎',
      url:'#',
      site:'網址',
      isActive:true,
      btn:'btn btn-success btn-sm ml-3',
      classList:{
        option1:true,
        option2:true,
      },
      styleList:{
        color:'#FF0000',
        fontSize:'16px',
      },
      msg:null,
      toggle:false,
      group:[],
      isShow:true,
      isShow2:true,
      list:[],
      data1:"",
      top:0,
      width:0,
      height:0,
    }
},
filters:{
  toto(value) {
            return value.charAt(0).toUpperCase()+value.slice(1,(value.length-1))+value.charAt((value.length-1)).toUpperCase()
      },
},
watch:{
  top:"sx",
  immediate:false
},
methods: {
      sx(){
    if(this.top>380){
      alert("123");
    }
  },
 
      btn1(){
        this.isActive = !this.isActive;
      },
      btn2(){
        this.classList.option1 = !this.classList.option1;
        this.classList.option2 = !this.classList.option2;
      },
      btn3(){
        this.isShow = ! this.isShow;
      },
      btn4(){
        this.isShow2 = ! this.isShow2;
      },
      btn5(){
        var obj = {
            number:Math.floor(Math.random()*20),
        }
        this.list.push(obj);
      },
      btn6(){
        alert("123");
      },
      btn7(){
        this.hint = "bang";
      },
      resize(newRect){  
        this.top = newRect.top+newRect.width+newRect.height;
      }
    },
}

</script>
<style>
  .active{
    color:red;
  }
  .active:hover{
    color:green;
  }
  .option1,.option2{
    color:black;
  }
  [v-cloak] {
    display: none;
}
</style>