<template>
    <div class="container-fluid">
        <div class="row justify-content-center ">
            <div id="login_nav">
                  <h4 class="word text-center"><strong>聊天系統</strong></h4>
            </div>
        </div>
        <div class="row justify-content-center">
            <div id="icon">
               <img src="../assets/chat.34021a0d.png">     
            </div>
        </div>
        <div class="row justify-content-center">
            <input type="text" class="form-control form-control-lg col-7" id="userid" 
             placeholder="帳 號" autocomplete="off" v-model="user_id">
            <input type="password" class="form-control form-control-lg col-7 mt-1" id="userpw"
             placeholder="密 碼" autocomplete="off" v-model="user_pw">
            <button class="btn btn-secondary btn-lg col-7 mt-4" id="btnlogin1" v-on:click="loginclick" disabled>登 入</button>
            <button class="btn btn-primary btn-lg col-7 mt-2" id="btnlogin2" v-on:click="guestclick">訪 客</button>
        </div>
    </div> 

</template>

<script>
// @ is an alias to /src

export default {
  name: 'login',
  components: {
    
  },
  //data:()=>({
  //    imgUrl:'../assets/chat.34021a0d.png'
  //  }),
  //data(){
  data:function(){
    return{
      //src:'../assets/chat.34021a0d.png',
      //src:require('../assets/chat.34021a0d.png'),
      user_id:null,
      user_pw:null
    }
  },
  methods: {  
     input(){
         if(this.user_id.length !=0 && this.user_pw.length !=0){
           document.getElementById("btnlogin1").disabled = false;
           document.getElementById("btnlogin1").style.backgroundColor = "#17a28b";
           
         }
         else{
          document.getElementById("btnlogin1").disabled=true;
          document.getElementById("btnlogin1").style.backgroundColor = "#6c757d";
         }
     },
    loginclick(){
        //var phone = document.getElementById('userid').value;
        //var password = document.getElementById('userpw').value;
        const th = this;
        this.axios.post('https://itriptaiwan.megatime.com.tw/string/CustMsgService/ValidByAdapter', {
          AppId: 'StringDemo_Web',
        //Password: password,
        //Phone: phone 
          Phone: th.user_id,
          Password:th.user_pw
        })
        .then(function (response) {
          
          console.log(response);
          localStorage.setItem("Guid",response.data.Guid);
          localStorage.setItem("Account",response.data.Phone);
          th.$router.push({path:"/account"});
        })
        .catch(function (error) {
          console.log(error);
        });   
              
    },
        guestclick(){
          this.$router.push({path:"/chat2"})  
    }
  },
  
  
  watch: {
    user_id:{
      immediate:false,
      handler(){
        this.input();
      }
    },
    user_pw:{
      immediate:false,
      handler(){
        this.input();
      }
    },
  }
}
</script>

<style scoped>
  .word{
    user-select:none;
    position:relative;
    height:50%;
    top:50%;
    transform:translateY(-50%);
  }
  #login_nav{
    width:100%;
    height:63px;
    background-color: white;
    box-shadow: 0px 0px 7px #DCDCDC;
  }

  #userid,#userpw{
    border-width:1.4px;
    padding-bottom:0.8%;
  }
  #icon{
    width:150px;
    height:150px;
    margin:3% 0% 4% 0%;
  }
  img{
    width:100%;
    height:100%;
  }
  input.form-control:focus{
    
    background-color: #fff;
    outline: 0;
    box-shadow: 0 0 0 1.3px rgba(0, 0, 0, 255);
  }
</style>
